/* 
  0) common css start
  1) back2top css start
  2) header css start
  3) navbar css start
  4) banner css start
  5) counter css start
  6) service css start
  7) client css start
  8) connect css start
  9) footer css start
  10) copyright css start
  11) responsive navbar css start
  12) login & register css start
  13) breadcrumb css start
  14) Mission & vision css start
  15) Team css start
  */


/* common css start */
:root {
  --primary_color: #29abe2;
  --primary_thin_color: #edf5f8;
  --secondary_color: #b0d252;
  --mega_menu_color: #eef4f7;
  --footer_color: #021118;
  --white_color: #ffffff;
  --off_white_color: #f5f5f5;
  --black_color: #000000;
  --gray_color: #d1dee4;
  --text_color: #04062c;
  --h1: 32px;
  --h2: 29px;
  --h3: 26px;
  --h4: 23px;
  --h5: 20px;
  --h6: 18px;
  --lg: 18px;
  --bs: 16px;
  --sm: 14px;
  --serif: 'Roboto Serif', serif;
  --sans-serif: 'Montserrat', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --lato: 'Lato', sans-serif;
  --opensans: "Open Sans", sans-serif;
  --transition: all ease-in-out .5s;

}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span,
address {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

body {
  font-size: var(--bs);
  font-weight: 400;
  font-family: var(--sans-serif);
  color: var(--text_color);
  background-color: var(--white_color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.bg-different {
  background-color: var(--primary_thin_color);
}

.gradient-bg {
  background: rgb(176, 210, 82);
  background: linear-gradient(100deg, rgba(176, 210, 82, 1) 0%, rgba(41, 171, 226, 1) 100%);
}

.gradient-bg-hover {
  background: rgb(176, 210, 82);
  background: linear-gradient(100deg, rgba(176, 210, 82, 1) 0%, rgba(41, 171, 226, 1) 100%);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.gradient-bg-hover:hover {
  background: rgb(41, 171, 226);
  background: linear-gradient(100deg, rgba(41, 171, 226, 1) 0%, rgba(176, 210, 82, 1) 100%);
}

.move-on-hover {
  overflow: hidden;
  transform-origin: 50% 0;
  transform: perspective(999px) rotateX(0deg) translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, box-shadow;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.move-on-hover:hover {
  transform: perspective(999px) rotateX(7deg) translate3d(0, -4px, 5px);
}

.section-spacing {
  padding: 64px 0;
}

.section-heading h2 {
  font-weight: 600;
  font-family: var(--serif);
  position: relative;
  top: 0;
  left: 0;
  color: var(--black_color);
  padding-left: 16px;
}

.section-heading h2::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 20px solid var(--primary_color);
  border-right: 20px solid transparent;
}

.section-heading-space {
  margin-top: 48px;
}

.bttn {
  padding: 8px 48px;
  font-weight: 600;
  font-family: var(--sans-serif);
  border-radius: var(--radius-md);
  -webkit-border-radius: var(--radius-md);
  -moz-border-radius: var(--radius-md);
  -ms-border-radius: var(--radius-md);
  -o-border-radius: var(--radius-md);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.btn-one {
  color: var(--white_color);
  border: 2px solid var(--secondary_color);
}

.btn-one:hover {
  color: var(--black_color);
  background-color: var(--secondary_color);
}

.btn-two {
  color: var(--black_color);
  border: 2px solid var(--black_color);
}

.btn-two:hover {
  color: var(--white_color);
  background-color: var(--black_color);
}

.page-breadcrumb {
  padding: 32px 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.page-breadcrumb::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(19, 87, 116, 0.6);
  z-index: -1;
}

.page-breadcrumb ol li,
.page-breadcrumb ol a {
  font-size: var(--sm);
  font-weight: 500;
  color: var(--primary_thin_color);
}

.page-breadcrumb ol i {
  font-size: 20px;
}

/* scrollbar css start */
/* ::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #29abe2;
} */

/* bsck2top css start */
.back2top i {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #29abe2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  color: black;
  border: 2px solid #29abe2;
  z-index: 999;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  display: none;
  color: white;
  animation: btt 1s linear 2;
  -webkit-animation: btt 1s linear 2;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


@keyframes btt {
  0% {
    bottom: 20px;
  }

  25% {
    bottom: 40px;
  }

  100% {
    bottom: 20px;
  }
}

.back2top i:hover {
  background-color: white;
  color: #29abe2;
}

/* header css start */
.top-header {
  padding: 4px 0;
  background-color: #29abe2;
  color: white;
}

.top-header a {
  color: white;
  font-weight: 600;
  font-size: var(--sm);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.top-header .contact a:hover span {
  text-decoration: underline;
}

.top-header .opening-hour {
  font-weight: 600;
  font-size: var(--sm);
}

.top-header .social i {
  font-size: 22px;
}

.top-header .social a:hover {
  opacity: .8;
}

/* navbar css start */
.main-navbar {
  background-color: var(--white_color);
  box-shadow: .5px .5px 5px 0 rgba(0, 0, 0, 0.150);
  position: sticky;
  top: 0;
}

.main-navbar.scrolled {
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .150);
  opacity: .95;
  animation: scrolled-anim 0.5s linear;
  -webkit-animation: scrolled-anim 0.5s linear;
}

@keyframes scrolled-anim {
  0% {
    top: -32px;
  }

  100% {
    top: 0;
  }
}

.nav_ex {
  position: fixed;
  width: 100%;
  animation: nav_ex 1s;
  -webkit-animation: nav_ex 1s;
  z-index: 9999;
}

@keyframes nav_ex {
  0% {
    top: -70px;
  }

  100% {
    top: 0;
  }
}

.nav_ex .header-logo img {
  width: 50% !important;
}

.nav_ex .navigation-menu a {
  padding: 15px 8px !important;
}

.nav_ex .mega-menu-content {
  top: 55px !important;
  z-index: 9990;
}

.menu img {
  padding: 24px 0;
}

.main-navbar .header-logo img {
  width: 240px;
}

.main-navbar .navigation-menu {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.main-navbar .navigation-menu a {
  font-size: var(--bs);
  color: var(--black_color);
  font-weight: 500;
  padding: 32px 8px;
  font-family: 'Raleway', sans-serif !important;
  border-bottom: 3px solid transparent;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.main-navbar .navigation-menu a.active,
.main-navbar .navigation-menu a:hover {
  background-color: var(--primary_thin_color);
  border-bottom: 3px solid var(--primary_color);
}

.main-navbar .mega-menu:hover .service {
  background-color: var(--primary_thin_color);
  border-bottom: 3px solid var(--primary_color);
}

.main-navbar .mega-menu .down-arrow {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.main-navbar .mega-menu:hover .down-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.main-navbar .mega-menu-content {
  position: absolute;
  top: 90px;
  right: -260px;
  width: 450px;
  padding: 16px 12px;
  background-color: var(--mega_menu_color);
  border-radius: var(--radius-md);
  -webkit-border-radius: var(--radius-md);
  -moz-border-radius: var(--radius-md);
  -ms-border-radius: var(--radius-md);
  -o-border-radius: var(--radius-md);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2);
  animation: mega_menu .3s linear 1;
  -webkit-animation: mega_menu .3s linear 1;
  z-index: 9985;
  display: none;
}

@keyframes mega_menu {
  0% {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.main-navbar .mega-menu:hover .mega-menu-content {
  display: block;
}

.main-navbar .mega-menu-content a {
  padding: 0;
}

.main-navbar .mega-menu-content ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-navbar .mega-menu-content .service-icon {
  padding: 8px;
  margin-right: 4px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .250);
  border-radius: var(--radius-round);
  -webkit-border-radius: var(--radius-round);
  -moz-border-radius: var(--radius-round);
  -ms-border-radius: var(--radius-round);
  -o-border-radius: var(--radius-round);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.main-navbar .mega-menu-content .service-icon img {
  width: 24px;
  opacity: .8;
}

.main-navbar .mega-menu-content li {
  width: 50%;
  margin-top: 10px;
}

.main-navbar .mega-menu-content li.active .service-icon,
.main-navbar .mega-menu-content li:hover .service-icon {
  border: 1px solid rgba(41, 170, 226, 0.5);
}

.main-navbar .mega-menu-content a {
  font-weight: 500;
  color: var(--black_color);
}

.main-navbar .mega-menu-content li.active a,
.main-navbar .mega-menu-content a:hover {
  border-bottom: transparent;
  color: var(--primary_color);
}



/* responsive navbar css start */
.res_nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  box-shadow: .5px .5px 5px 0 rgba(0, 0, 0, 0.150);
}

.res_nav img {
  width: 50% !important;
}

.res_nav .offcanvas-start {
  width: 300px;
}

.res_nav .res_nav_btn {
  color: black !important;
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

/* .res_nav .offcanvas-body{
  background-color: transparent !important;
  backdrop-filter: blur(1px) !important;
}
.res_nav .offcanvas-header{
  background-color: transparent !important;
  backdrop-filter: blur(1px) !important;
} */

#responsive_nav .responsive-menu li {
  margin-top: 4px;
}

#responsive_nav .responsive-menu li:first-child {
  margin-top: 0;
}

#responsive_nav .responsive-menu a {
  font-size: var(--bs);
  font-weight: 500;
  color: var(--black_color);
  padding: 8px 12px;
  width: 100%;
  border-left: 4px solid transparent;
  border-radius: var(--radius-sm);
  -webkit-border-radius: var(--radius-sm);
  -moz-border-radius: var(--radius-sm);
  -ms-border-radius: var(--radius-sm);
  -o-border-radius: var(--radius-sm);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

#responsive_nav .responsive-menu a.active,
#responsive_nav .responsive-menu a:hover {
  background-color: rgb(41, 171, 226, .100);
  border-left: 4px solid var(--primary_color);
}

#responsive_nav .responsive-menu .service-menu-content {
  margin-top: 4px;
}

.res_nav .service i {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.res_nav .service.active i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


.res_nav .offcanvas-footer {
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
}

.res_nav.offcanvas-footer .contact li {
  margin-bottom: 4px;
}

.res_nav .offcanvas-footer .contact a {
  color: var(--text_color);
  font-weight: 500;
  font-size: var(--bs);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* responsive navbar css end */



/* Banner CSS Start */

#banner {
  position: relative;
  z-index: -1;
}

.banner_content h3 {
  font-size: 28px;
  font-weight: bold;
  color: #18313A;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}


.banner_content h1 {
  font-size: 45px;
  font-weight: bold;
  color: #29abe2;
  letter-spacing: 1px;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.banner_content h4 {
  font-size: 45px;
  font-weight: bold;
  color: #18313A;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.banner_content p {
  font-size: 16px;
  color: #183B3A;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 26px;
  padding-right: 150px;
  margin-top: 25px;
}

.banner_content a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #29abe2;
  position: relative;
  font-size: 18px;
  overflow: hidden;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  font-weight: 500;
  font-family: var(--sans-serif);

}

.banner_content a:hover {
  color: #29abe2;
}

.banner_content a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: #29abe2;
  content: '';
  z-index: -1;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.banner_content a:hover::after {
  height: 0;
}



/* Counter css start */
#counter {
  margin-top: 50px;
}

.counter_main {

  text-align: center;
  border-right: 2px solid #dadfe1;
}



.counter_main span {
  font-size: 45px;
  font-weight: 700;
  color: #29abe2;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

.counter_main p {
  font-size: 16px;
  font-weight: 700;
  color: #879094;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

/* Service  css start */
.service_header h2 {
  margin-top: 70px;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.service_header p {
  font-size: 16px;
  color: #183B3A;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 30px;
}


.service_content {
  /* background-color: yellow; */
  padding: 40px 50px 20px 40px;
  border: 1px solid rgba(24, 49, 58, 0.11);
  border-radius: 5px;
  margin: 15px 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.service_content:hover {
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.188);
}

.service_content img {
  width: 15%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.service_content:hover img {
  transform: scale(1.5) rotate(360deg);
  -webkit-transform: scale(1.5) rotate(360deg);
  -moz-transform: scale(1.5) rotate(360deg);
  -ms-transform: scale(1.5) rotate(360deg);
  -o-transform: scale(1.5) rotate(360deg);
}

.service_content h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0 10px;
  color: #18313A;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.service_content:hover h4 {
  color: #29abe2;
}


.service_content p {
  font-size: 15px;
  color: #183B3A;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

/* Client  css start */
.client_header h2 {
  margin-top: 70px;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.client_header p {
  font-size: 16px;
  color: #183B3A;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 30px;
}

.client_main_slider {
  margin: 30px 0;
}

.client_slider {
  text-align: center;
}

.slick-slide img {
  display: inline-block;
}

.client_main_slider .slick-center {
  transition: all 0.5s ease;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

/* connect css start */
#connect {
  background-color: #29abe2;
  padding: 25px 0;
  margin-top: 70px;
}

#connect h3 {
  color: white;
  font-size: 35px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

#connect h4 {
  color: white;
  font-size: 28px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.connect_btn a {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 100;
  overflow: hidden;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.connect_btn a:hover {
  color: #29abe2;
}

.connect_btn a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 0;
  width: 100%;
  content: '';
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  z-index: -1;
}

.connect_btn a:hover::after {
  height: 180px;
}

/*  footer css start */
footer {
  background-color: #29abe2;
  margin-top: 0;
}

.footer_main {
  /* margin-top: 50px; */
  padding-bottom: 100px;
}

.footer_details {
  margin-top: 30px;
}


.footer_details img {
  width: 60%;
}

.footer_details p {
  font-size: 18px;
  padding-top: 20px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

}

.footer_service {
  /* text-align: center; */
}

.footer_service h2 {
  padding-top: 30px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: capitalize;

  color: white;
}

.footer_service ul {
  margin-top: 40px;
}

.footer_service ul li {
  margin-bottom: 10px;
}

.footer_service ul li a {
  text-transform: capitalize;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_service ul li a:hover {
  color: black;
  transform: translateX(15px) scale(1.2);
  -webkit-transform: translateX(15px) scale(1.2);
  -moz-transform: translateX(15px) scale(1.2);
  -ms-transform: translateX(15px) scale(1.2);
  -o-transform: translateX(15px) scale(1.2);
}

.footer_social h2 {
  padding-top: 30px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
}

.footer_social_icon {
  margin-top: 40px;
}

.footer_social_icon i {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  /*background-color: yellow;
  */
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: white;
  border: 1px solid white;
  margin-right: 8px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_social_icon i:hover {
  background-color: black;
  border-color: black;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.footer_contact_icon {
  margin-top: 30px;
}

.footer_contact_icon a {
  font-size: 18px;
  color: white;
  margin-top: 10px;
}

.footer_contact_icon a:hover {
  text-decoration: underline;
}

/* copyright css start */
#copyright {
  text-align: center;
  padding: 20px 0;
  background-color: #29aae2de;
}

.copyright_text p {
  color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.copyright_text p a {
  color: #000000;
}

/* login & register css start */

#login {
  background-color: #6fa6de;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login_img {
  height: 100%;
  /* text-align: end; */
}

.login_img img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.login_form {

  height: 100%;
  width: 100%;
  /* backdrop-filter: blur(5px); */
  padding: 50px 25px 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgba(200, 198, 198, 0.75);
}

.form_logo img {
  width: 50%;
  margin-bottom: 10px;
}

.form_logo h3 {
  font-size: 18px;
  color: white;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

.form-control:focus {
  border: 2px solid black !important;
  color: #212529;
  background-color: #fff;
  border-color: #000000;
  outline: 0;
  box-shadow: none !important;
}

.login_btn button {
  padding: 10px 15px;
  border: 2px solid #ffffff;
  background-color: transparent;
  width: 50%;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.login_btn button:hover {
  color: #6fa6de;
}

.login_btn button::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: white;
  content: '';
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  z-index: -1;
}

.login_btn button:hover::after {
  width: 130%;
}

/* register css start */
.register_img img {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.register_form {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.register_now {
  margin-top: 60px;
}

.register_now p {
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400;
}

.register_now p a {
  color: rgb(255, 255, 255);
}

.register_social h4 {
  text-align: center;
  margin-top: 40px;
  font-size: 15px;
  color: white;
  text-decoration: underline;
  font-family: var(--sans-serif);
  letter-spacing: 1px;
}

.register_social_icon {
  margin-top: 25px;
  text-align: center;
}

.register_social_icon a {
  margin: 0 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.register_social_icon a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* breadcrumb css start */
.breadcrumb_content {
  margin-top: 20px;
}

.breadcrumb_content a {
  color: #000000;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.breadcrumb_content a:hover {
  color: #29abe2;
}

.breadcrumb_content i {
  color: black;
}

.breadcrumb_content a.active {
  color: #29abe2;
}

/* Mission & vision css start */
#mission {
  margin-top: 70px;
}

.mission_header h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.mission_text p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
  text-align: justify;
}

.mission_img img {
  width: 100% !important;
}

.vision_text {
  margin-top: 60px;
}

/* team css start */
#team {
  margin-top: 100px;
}

.team_header h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.team_main_slider {
  padding-top: 50px;
}

.team_slider {
  position: relative;
  border: 1px solid #29abe2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 12px;
  overflow: hidden;
}

.team_slider:hover {
  border-color: transparent;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.291);

}

.team_member img {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.team_slider:hover .team_member img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.team_ol {
  position: absolute;
  bottom: 7%;
  left: 50%;
  height: 40%;
  width: 80%;
  background-color: #29aae2df;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  opacity: 0;
}

.team_slider:hover .team_ol {
  opacity: 1;
}

.team_ol h4 {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.team_ol h5 {
  font-size: 14px;
  color: white;
  text-align: center;
}

.team_social {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.team_social a {
  font-size: 18px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  margin: 0 5px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.team_social a:hover {
  color: #29abe2;
  background-color: white;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}